<%- include('partials/header'); -%>
    <div class="container-fluid">
        <h2 class="text-center mb-5">Administración catálogos</h2>
        <div class="row">
            <!-- FORM-->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-header bg-dark text-light font-weight-bold">Agregar catálogo</div>
                    <div class="card-body">
                        <form action="../catalogos/add" method="post">
                            <div class="form-group">
                                <input class="form-control" name="nombreCatalogo" placeholder="Nombre del catálogo" required>
                            </div>
                            <div class="form-group">
                                <label for="sel1">Tienda (seleccione una):</label>
                                <select class="form-control" id="nitTienda" name="nitTienda">
                                    <% for(var i=0; i < tiendas.length; i++) { %>
                                  <option><%=tiendas[i].nombreTienda%></option>
                                  <% } %>
                                </select>
                            </div>
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--LIST -->
            <div class="col-md-8">
                <table class="table table-hover text-center shadow">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre del Catálogo</th>
                            <th>Tienda</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < catalogos.length; i++) { %>
                            <form action="../catalogos/edit/<%=catalogos[i]._id %>" method="post">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="nombreCatalogo" value="<%=catalogos[i].nombreCatalogo%>" placeholder="<%=catalogos[i].nombreCatalogo%>" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="nitTienda">
                                                <% for(var j=0; j < tiendas.length; j++) { 
                                                  if(tiendas[j].nit == catalogos[i].nitTienda){    
                                                %>
                                              <option value="<%=tiendas[j].nit%>" selected><%=tiendas[j].nombreTienda%></option>
                                              <% } else{ %>
                                                <option value="<%=tiendas[j].nit%>"><%=tiendas[j].nombreTienda%></option>
                                                <% } }%>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit " class="btn btn-info"><i class='fas fa-edit'></i></button>
                                        <a href="../catalogos/delete/<%= catalogos[i]._id %>" class="btn btn-danger"><i class='fas fa-trash'></i></a>
                                    </td>
                                </tr>
                            </form>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>