<%- include('partials/header', {usuario: user}); -%>
    <div class="container px-5">
        <h2 class="text-center my-5">Administración: <%= user.tienda.nombreTienda %> </h2 class="text-center my-5">
        <div class="row">
            <div class="col-4">
                <div class="card bg-info text-center text-white shadow" style="height: 128px;">
                    <div class="card-body">
                        <a href="/tiendas/adminTienda/?nitTienda=<%= user.tienda.nit %>" class="btn btn-link text-white">
                            <h4 class="mt-3">Tienda</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info text-center text-white shadow" style="height: 128px;">
                    <div class="card-body">
                        <a href="/catalogos/adminCatalogo/?idTienda=<%= user.tienda._id %>" class="btn btn-link text-white">
                            <h4 class="mt-3">Catálogos</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info text-center text-white shadow" style="height: 128px;">
                    <div class="card-body">
                        <a href="/articulos/adminArticulo" class="btn btn-link text-white">
                            <h4 class="mt-3">Artículos</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <div class="card bg-info text-center text-white shadow" style="height: 128px;">
                    <div class="card-body">
                        <a href="/ventas/adminVenta" class="btn btn-link text-white">
                            <h4 class="mt-3">Ventas</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card bg-info text-center text-white shadow" style="height: 128px;">
                    <div class="card-body">
                        <a href="/lineaVentas/articulosVendidos" class="btn btn-link text-white">
                            <h4 class="mt-3">Listado de artículos vendidos</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>