<%- include('partials/header', {usuario: user}); -%>

    <div class="clearfix px-5">
        <div class="float-left">
            <a href="/admin" class="btn btn-danger btn-sm">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center mb-1">Administración tienda: <%= tienda.nombreTienda%></h2>
        <h5 class="text-center font-italic font-weight-normal mb-4">Actualiza los datos de tu tienda</h5>
        <div class="card shadow mx-auto" style="width: 600px;">
            <div class="card-body">
                <form action="/tiendas/edit/<%=tienda._id %>" method="post">
                    <% if(tienda.estado == true){ %>
                        <h6>Estado: <span class="badge badge-pill badge-success">Habilitada</span></h6>
                    <% }else{ %>
                        <h6>Estado: <span class="badge badge-pill badge-danger">Inhabilitada</span></h6>
                    <% } %>
                    <hr>
                    <label for="nit">Nit:</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="nit" value="<%=tienda.nit%>" placeholder="<%=tienda.nit%>">
                    </div>
                    <label for="nombreTienda">Nombre de la tienda:</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="nombreTienda" value="<%=tienda.nombreTienda%>" placeholder="<%=tienda.nombreTienda%>" required>
                    </div>
                    <label for="direccionTienda">Dirección de la tienda:</label>
                    <div class="form-group">
                        <input class="form-control" type="text" name="direccionTienda" value="<%= tienda.direccionTienda%>" placeholder="<%= tienda.direccionTienda%>" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit " class="btn btn-info">Editar <i class='fas fa-edit'></i></button>
                        <% if(tienda.estado == true){ %>
                            <a href="/tiendas/disable/<%= tienda._id %>" class="btn btn-danger">Inhabilitar <i class='fas fa-ban'></i></a>
                        <% }else{ %>
                            <a href="/tiendas/enable/<%= tienda._id %>" class="btn btn-success">Habilitar <i class='fas fa-check-circle'></i></a>
                        <% } %>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>