<%- include('partials/header', {usuario: user}); -%>
    <div class="container-fluid">
        <h2 class="text-center mb-5">Administración usuarios</h2>
        <div class="row">
            <!-- FORM-->
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-header bg-dark text-light font-weight-bold">Agregar usuario</div>
                    <div class="card-body">
                        <form action="../usuarios/add" method="post">
                            <div class="form-group">
                                <input class="form-control" type="text" name="cedula" placeholder="Cédula" onkeypress='return (event.charCode >= 48 && event.charCode <= 57)' maxlength="10" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="nombre" placeholder="Nombre(s)" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="apellido" placeholder="Apellido(s)" required>
                            </div>
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </form>
                    </div>
                </div>
            </div>
            <!--LIST -->
            <div class="col-md-8">
                <table class="table table-hover text-center shadow">
                    <thead class="thead-dark">
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < usuarios.length; i++) { %>
                            <form action="../usuarios/edit/<%=usuarios[i]._id %>" method="post">
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control-plaintext" type="text" name="cedula" value="<%=usuarios[i].cedula%>" placeholder="<%=usuarios[i].cedula%>" disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="nombre" value="<%=usuarios[i].nombre%>" placeholder="<%=usuarios[i].nombre%>" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="apellido" value="<%= usuarios[i].apellido%>" placeholder="<%= usuarios[i].apellido%>" required>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="../ventas/comprasUsuario/?cedula=<%= usuarios[i].cedula%>" class="btn btn-success">Ver compras</a>
                                        <button type="submit " class="btn btn-info"><i class='fas fa-edit'></i></button>
                                        <a href="../usuarios/delete/<%= usuarios[i]._id %>" class="btn btn-danger"><i class='fas fa-trash'></i></a>
                                    </td>
                                </tr>
                            </form>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>